body {
height: 100%; 
display: flex;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: black;
margin: 0px;
padding: 0px;
}

#container {
display: grid;
width: 100vw;
grid-template-columns: 1fr 4fr;
height: 100%;


}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #00A7E1;
    
    color: white;
    padding-top: 25px;
    padding-left: 25px;
    height: 100%;
    grid-column: 1 / 2;
    padding-bottom: 50px;
}


#title {
    display: flex;
    align-items: center;
}


.title-img {
    fill: white;
}

#today-tsk-header, #coming-tsk-header {

    display: flex;
    align-items: center;

}

.notify {
    display: flex;
    justify-content: center;
    
}

.notif-circle {
    fill: #720606;
    color: white;
    
}

.notif-text {
    margin-left: -24px;
    margin-top: 7px;
}

#main-content {
    display: grid;
    grid-template-rows: 1fr 3fr;  
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 125px;
  padding: 0 50px;
  flex-shrink: 0;
  grid-row: 1 / 1;
    
}



button#addcat {
    background-color: #00A7E1;
    border-style: none;
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    color: white;

}

#todo-sect {
    background-color: #CCDDEE;
    display: flex;
    gap: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 25px;
    height: 100%;
    grid-row: 2 / 3;
      
    
}



#list-sect {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}

#list-heading {
    display: flex;
    column-gap: 30px;
    align-items: center;
    
}

#list-title {
    display: flex;
    align-items: center;
}

#category-sect-main {
    display: flex;
    flex-direction: column;
    width: 250px;
    
    
}

#category-heading-sect {
    display: flex;
    flex-direction: column;
}

.category-title {
    display: flex;
    column-gap: 10px;
}

button#addlist {

    background-color: #D8CC34;
    border-style: none;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    

}

#task-sect {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.card {
    height: 75%;
    width: 245px;
    background-color: white;
    border-left-color: #E67F0D;
    border-left-width: 6px;
    border-left-style: solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    row-gap: 0px;
    justify-content: center;
}

#editdivbtn {
    display: flex;
    justify-content: flex-end;
    margin-top: -2px;
    height: 20px;
    width: 267px;
    margin-left: 50px;

}

#edit-task {
    width: 100px;
    height: 40px;
}

#taskdisplay {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 30px;
    font-size: smaller;
    position: relative;
}

#tsk-txt-div {
    display: flex;
    align-items: center;
    column-gap: 5px;
    flex-direction: column;
}

#task-text {
display: flex;
column-gap: 5px;
align-items: center;

}

#expand-togglediv {
display: flex;

}

.task-card {
    position: relative;
  }
  
.formedit {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: hsl(0, 0%, 100%);
    z-index: 10;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    gap: 2px;
    flex-direction: column;
  }

  input {
    border-radius: 4px;
    border-width: 1px;
  }

#taskeditBtn-sect {
padding-top: 5px;
display: flex;
justify-content: space-evenly;
  }

#submit-edit-task, #cancel-edit-task {

    border-style: none;
    background-color: #E67F0D;
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

#task-details {
font-size: small;
}

#task-edit-div {
    display: flex;
}

.urgent-status {
    border-radius: 8px;
    border-color: #720606;
    color: #720606;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    font-weight: bold;
    font-size: smaller;

}

.moderate-status {

    border-radius: 8px;
    border-color: #d8a708;
    color: #d8a708;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    font-weight: bold;
    font-size: smaller;
}

.low-status {
    border-radius: 8px;
    border-color: #4ad808;
    color: #4ad808;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    font-weight: bold;
    font-size: smaller;
}

button#edit-task {
    display: flex;
    border-style: none;
    padding: 8px;
    background-color: transparent;
}



button#newtask {
    background-color: #E67F0D;
    border-style: none;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    column-gap: 5px;
}

.addctgry, .addlst, .addnewtsk {

    fill: white;
}

dialog#cardadd, dialog#projectadd {
    display: none;
}

#edit-displayed-task, #delete-task, #edit-category, #delete-category, #delete-list, #edit-list {
    background-color: transparent;
    border-style: none;
}